<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TapoSmartBattery.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TapoSmartBattery.Properties.Settings>
            <setting name="PlugType" serializeAs="String">
                <value />
            </setting>
            <setting name="IP" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="MinPct" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="MaxPct" serializeAs="String">
                <value>60</value>
            </setting>
        </TapoSmartBattery.Properties.Settings>
    </userSettings>
</configuration>